body{
    /* margin: 0; */
    /* padding: 0; */
    
    background-image: url(bg3.jpg);
    background-size: cover;
    margin-top: 10%;
    /* background-color: aquamarine; */
}
div{
    border-radius: 25px;
    border: solid black 5px;
    width: 400px;
    background-color: rgb(180, 139, 246, 0.2);
    /* background-image: url(bg.jpg); */
    background-size: cover;
    margin: 0 auto;
    text-align: center;
}
h1,h2{
    font-family: sans-serif;
    padding-bottom: 25px;
    padding-top: 25px;
}
button:hover{
    background-color: aqua;
    border-radius: 10px;
    cursor: pointer;
}
button{
    height: fit-content;
    margin-bottom: 5%;
}